body {
    font-family: Arial;
    background: linear-gradient(to right, #aa4b6b, #6b6b83, #3b8d99);
}
label.required { color: white; }
nav{
    font-family: Arial;
    background: linear-gradient(to right, #aa4b6b, #6b6b83, #3b8d99);
}